/* snow animation */
.snowflake {
    position: absolute;
    top: -50px;
    z-index: 2;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

/* btn-border-animation */
.animated-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

@keyframes slide-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-top {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotate__type1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate__type2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(0deg);
    }
}